*{
    box-sizing: border-box;
}

/*==============
    ELEMENT STYLE
===============*/
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    background-color: #DCDCDC;
}

/*=============
    LAYOUT STYLE
===============*/

/* --------- NAVBAR STYLE-------------- */
#main-navbar{
    background-color: lightblue;
    display: inline-block;
    width: 100%;
    margin: auto;
    position: relative;
    max-height: 100px;;
}

.logo{
    width: 90px;
    height: 90px;
    background: url("../img/logo.jpg");
    background-repeat: round;
    opacity: 0.9;
    margin: 10px;
    float: left;
}
/* the container cover address dropdown*/
.address-dropdown {
    position: relative;
}

.address-dropdown:hover .dropdown-content{
    display: block;
}

/* style the button */
.dropdown-btn{
    display: inline-block;
    background-color: white;
    overflow: hidden;
    text-align: center;
    padding: 8px;
    font-size: 0.7em;
    position: absolute;
    top: 3em;
    margin-left: 2.5em;
}

.dropdown-btn .arrow-down{
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #111;
    float: right;
    margin: 3px 0 5px 5px;
}

/* the content inside address dropdown*/
.dropdown-content{
    display: none;
    /* the position  relative to address-dropdown container */
    position: absolute; 
    left: 7.6em;
    top: 3.9em;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

/* Horizontal menu in the right conner of navbar*/
.navbar-menu {
    float: right;
    position: absolute;
    top: 2em;
    right: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-menu ul > li {
    float: left;
}

.navbar-menu ul > li:last-child{
    background-color: orange;
    text-align: center;
    padding: 3px;
}

.navbar-menu ul > li:first-child a {
    color: orange;
}

.navbar-menu a{
    display: block;
    text-decoration: none;
    padding: 5px;
    color: #F5F5F5;
}

.navbar-menu a:hover{
    color: black;
    background-color: silver;
}

/*------------- MAIN CONTENT STYLE ------------*/
.section {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.first-section {
    min-height: 12em;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.row {
    float: left;
    margin-right: 20px;
    min-height: 100%;
}

/* -----------------------------
            first section
-------------------------------*/
.search-price {
    background-color: whitesmoke;
    height: 95%;
}

.title {
    background-color: lightblue;
    opacity: 0.95;
    text-align: center;
    color: white;
    font-size: 1.1em;
    line-height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
}

/* search car by price */
.search-price .list-item{
    padding-bottom: 1em;
    margin-top: 3.5em;
}

.search-price ul {
    margin: 15px 14px;
    overflow: hidden;
}

.search-price .list-item > ul li {
    width: 130px;
    height: 30px;
}

.list-item ul li {
    float: left;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
    text-align: center;
    margin: 0 5px;
}

.search-price ul > li a{
    text-decoration: none;
    color: #111;
}

/* search car by brandname of car */
.search-brandname {
    background-color: whitesmoke;
    height: 95%;
}

.search-brandname .list-item ul {
    padding: 5px;
    overflow: hidden;
}
.search-brandname .list-item ul li {
    margin: 5px;
    box-shadow: 1px 1px 5px black;
    float: left;
}

.car-logo {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 6px 4px 5px black;
}

/* search car by year */
.search-year {
    background-color: whitesmoke;
    height: 95%;
}


.search-year .list-item ul li {
    float: none;
    width: 100px;
    height: 35px;
    margin: 12px 25px;

}

.search-year .list-item a{
    text-decoration: none;
    color: #111;
}

/* -----------------------------
            second section
-------------------------------*/
.second-section {
    min-height: 14em;
    justify-content: center;
    margin-top: 1em;
}

.second-section .img-background .first,
.second-section .img-background .second {
    background-image: url("../img/family_car.jpg");
    background-repeat: round;
}



/*===== CLEAR FLOAT=========*/
.clearfix {
    clear: both;
    content: " ";
}