* {
    box-sizing: border-box;
}

/*==============
    ELEMENT STYLE
===============*/
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: #336699;
}

h3.title-text {
    font-size: 30px !important;
    color: #369;
    font-weight: 600;
    text-transform: uppercase;
}


p.service-text {
    color: #369;
    font-size: 20px;    
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}

p.service-text-detail {
    color: lightgray;
    font-size: 16px;    
    text-align: start;
}


/*=============
    LAYOUT STYLE
===============*/


/* --------- NAVBAR STYLE-------------- */
.main-navbar {
    background: #336699;
    position: relative;
}

.main-navbar .logo {
    width: 70px;
    max-height: 40px;
    position: absolute;
    bottom: 0px;
    left: 15px;
}

.dropdown-address {
    background-color: white;
    position: absolute;
    top: 15px;
    left: 6em;
}

.main-navbar .dropdown-link button.vertical-link{
    display: none;
}

.main-navbar .dropdown-address > a {
    color: black;
    text-decoration: none;
}

.dropdown-address > a span {
    margin:0 10px;
}

.main-navbar  {
    font-size: 16px;
}

.main-navbar  a:hover {
    color: white !important; 
    background-color: orange !important;
    text-decoration: none;
}

.dropdown-address .dropdown-menu  {
    width: 100%;
}

.main-navbar .dropdown-link {
    margin: 0 5em;
    margin-top: 20px;
}

li.navbar-right a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

li.navbar-right a:hover {
    background-color: orange;
    color: black;
}

li.home-link a {
    color: orange;
}

ul.menu-list li {
    padding: 10px;
}

ul.menu-list li.login-link {
    background: orange;
}

li.login-link a  {
    color: white;
}

/*----------- SEARCH COMPONENT ------------*/
.search-component {
    background: #fbf9fa;
}

.row-margin-bottom {
    margin-bottom: 1.5em;
}

.container .row {
    padding: 0;
    margin: 0;
}

div.year-column,
div.price-column,
div.car-column {
    height: 200px;
    margin-top: 20px;   
}

.equal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.column {
    width: 100%;
    height: 100%;
    background: white;
}

.ptitle {
    text-transform: uppercase;
    width: 100%;
    background: #336699;
    padding: 7px 0;
    color: white;
    text-align: center;
}



 /*---- search by price------- */
.price {
    display: flex;
    justify-content: center;
}

ul.list-inline {
    margin-left: 0;
    padding: 0;
    line-height: 2.5em;
}


.list-inline-item {
    padding: 6px 0 ;
    border: 1px solid black;
    width: 25%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 2px;
    margin: 10px 10px;
}

.padding-div{
    padding-bottom: 20px;
}
/*---- search by car logo-------*/
.car {
    display: flex;
    justify-content: center;
}
.car > li img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

/*------search by year------------*/

.year {
    text-align: center;
}

.year li {
    width: 50%;
    margin: 10px auto;
    max-height: 30px;
}

/* ------- search by car's type------------*/
.car-type-row {
    max-height: 200px;
    margin: 20px 0;
}

.car-type-row img {
    width: 100%;
    max-height: 180px;
}

.car-type-row p.ptitle {
    width: 100%;
}

/*----------- search car for using purpose--------*/
.car-for-purpose {
    max-height: 200px;
    padding:  0 15px;
    margin:0 ;
}

.car-for-purpose img {
    max-height: 160px;
    width: 100%;
}

.car-for-purpose p.ptitle{
    width: 100%;
}


.button {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    background: orange;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 2px black;
    margin: 20px 0;
}

/*--------------- SERVICE COMPONENT--------------*/
.service-component {
    background: #fbf9fa;
    margin: 10px 0;
    text-align: center;
}

.service-car {
    width: 100%;
    padding:  0 15px;
}

.service-component .car-type-row {
    padding: 0 25px;
    max-height: 320px;
}

/*------------SHOWROOM COMPONENT*/
.showroom-component {
    background: #369;
    text-align: center;
}

.showroom-component h3.title-text,
.showroom-component p.service-text {
    color: #fff;
}

.showroom-component .car-type-row {
    max-height: 250px;
}

.showroom-component .car-type-row img {
    max-height: 180px;
}

/*----------- SPACING-------------*/
.gray-spacing {
    height: 50px;
    width: 100%;
    background-color: silver;
}


/*----------MAIN FOOTER-----------*/

.main-footer {
    background: #fbf9fa;
    font-size: 16px;
}

.main-footer h3 {
    font-weight: 700;
}

/*===== CLEAR FLOAT=========*/
.clearfix{
    clear: both;
    display: block;
}


/* =======
    RESPONSIVE
==========*/
@media(min-width: 320px) and (max-width: 960px){

    .main-navbar .logo {
        width: 200px;
        height: 100px;
    }

    li.dropdown-address{
        display: none;
    }

    .main-navbar .menu-list {
        display: none;
        position: absolute;
        top: 2em;
        left: 0;
        z-index: 1;
    }

    .main-navbar button.vertical-link {
        display: flex !important;
        font-size: 20px;
        width: 120px;
        max-height: 50px;
        border: 1px solid lightgray;
        color: lightgray;
        justify-content: center;
    }

    .main-navbar .dropdown-link {
        position: relative;
        left: 25%;
    }
    
    .main-navbar .dropdown-link:hover .vertical-link{
        background:#369;
    }

    .main-navbar .dropdown-link:hover .vertical-link a{
        color: #111;
    }

    .main-navbar .dropdown-link:hover .menu-list,
    .main-navbar .dropdown-link:focus .menu-list
    {
        display: block;
    }
    
    .main-navbar .dropdown-link:hover .menu-list li {
        width: 120px;
        max-height: 40px;
        background: #369;
        color: white;
    }

    .price-column,
    .year-column,
    .car-column,
    .car-type-row {
        margin: 0.5em 0;
    }

    .car-type-row {
        margin: 10px 0;
    }

    .price-column {
        font-size: 10px;
        word-spacing: -1px;
    }

    .year-column, 
    .car-column {
        display: none;
    }

    .second-row .type-car {
        padding-bottom: 2em;
    }

    .button {
        max-width: 80%;
    }

    .service-component .service-text {
        font-size: 20px;    
    }

    .service-component .service-text-detail {
        font-size: 14px;    
    }

    .showroom-component img {
        max-width: 80%;
    }

    .showroom-component h3.title-text {
        font-size: 25px !important;
    }

    .showroom-component p.service-text {
        font-size: 16px;
    }
    
    .main-footer {
        text-align: center;
        font-size: 14px;
    }

    .main-footer h3 {
        font-size: 17px;
    }
}

@media(min-width: 960px) and (max-width:1600px){
    
    li.list-inline-item {
        font-size: 0.9em;
        word-spacing: -1px;
        padding: 0;
    }
}