<% provide(:title, "Profile")%>

<div class="row">
    <div class="col-md-6 img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q"
            alt="" class="img-rounded">
    </div>
    <div class="col-md-6 details">
        <blockquote>
            <h5>Information</h5>
            <small><cite title="Source Title">Somewhere on earth <i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
            Email: <%= @user.email %> <br>
            Created at: <%= @user.created_at %>
        </p>
    </div>
</div>