@import "bootstrap-sprockets";
@import "bootstrap";


/* component style */
* {
  box-sizing: border-box;
}

body {
    margin-top: 50px;
    padding: 0;
}

/* header layout*/
.navbar-default {
    font-size: 1.2em;
    .navbar-nav {
        li {
            a {
                text-decoration: none;
                &:hover {
                    color: orange;
                }

                &:active {
                    color: blueviolet;
                }
            }
        }
    }
}

/* footer layout*/

footer {
    margin-top: 45px;
    padding-top: 45px;
    border-top: 1px lightslategrey solid;
    
    small {
        font-size: 16px;
        font-style: italic;
    }
    ul {
        list-style: none;
        float: right;

        li{
            float: left;
            margin: 0 1.5em;
            a {
                text-decoration: none;
                &:hover {
                    color: orange;
                }

                &:active {
                    color: blueviolet;
                }
            }
        }
    }
}

/* error explain */
#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 3px 0;
    }
}


/* form */

input {
    margin: 10px 0;
}

label.error {
    color: red;
    font-style: italic;
    margin-left: 20px;
}
